* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hidden {
    position: absolute;
    left: -999999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.header {
    height: 75px;
    background-color: #222222;
    padding: 0px 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    padding: 0 calc(50% - 1140px / 2);
}

.case1 img {
    margin-right: 41px;
}

.case2 img {
    margin-left: 33px;
}

.promo {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-text {
    width: 570px;
    margin-left: 63px;
}

.promo-text-h1 {
    margin: 0;
}

.line {
    width: 12px;
    height: 93px;
    background-color: #F16D7F;
    float: left;
    margin-right: 16px;
}

.pt-span-1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #222222;
}

.pt-span-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.pt-span-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #F16D7F;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
}

.categories div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.for-women {
    width: 360px;
    height: 260px;
    background-image: url(../img/for-women.jpg);
}

.for-men {
    width: 360px;
    height: 260px;
    background-image: url(../img/for-men.jpg);
}

.for-kids {
    width: 360px;
    height: 260px;
    background-image: url(../img/for-kids.jpg);
}

.accesorise {
    width: 100%;
    height: 180px;
    margin-top: 30px;
    background-image: url(../img/ACCESORIES.jpg);
}

.categories-p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 3px;
}

.categories-p2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #F16D7F;
    margin: 3px;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-title-h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin: 96px 0 6px 0;
}

.featured-title-p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    color: #9F9F9F;
    margin-top: 6px;
}

.featured-all-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
}

.featured-items {
    width: 360px;
    height: 582px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;;
    margin-bottom: 30px;
}

.featured-item-img {
    width: 360px;
    height: 420px;
}

.item-description-h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 25px 0 12px 18px;
}

.item-description-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 25px 12px 18px;
}

.item-description-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 18px;
}

.featured-button-BrowseAll {
    width: 214px;
    height: 48px;
    margin-top: 18px;
    border: 1px solid #F26376;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
}

.information-stand {
    display: flex;
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
}

.inform-box {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inform-box-h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 28px 0 16px;
}

.inform-box-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin: 0;
}

.feedback {
    height: 448px;
    width: 100%;
    background-image: url(../img/Feedback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E1E1E1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subscribe-info-p {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    margin: 30px;
}

.subscribe-p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222224;
    margin: 32px;
}

.subscribe-p span{
    font-size: 18px;
    font-weight: 400;
}

.subscribe-box {
    display: flex;
}

.subscribe-email {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 23px 0 0 23px;
    padding-left: 20px;
    outline: none;
}

.subscribe-email:focus {
    box-shadow: 0 0 0 1px rgb(190, 190, 190);
}

.subscribe-button {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-radius: 0 23px 23px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.footer {
    height: 79px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.social-icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-icon:hover {
    color: #FFF;
    background-color: #F16D7F;
}
