* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hidden {
  position: absolute;
  left: -999999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

.header {
  height: 75px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case1 img {
  margin-right: 41px;
}

.case2 img {
  margin-left: 33px;
}

.promo {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-text {
  width: 570px;
  margin-left: 63px;
}

.promo-text-h1 {
  margin: 0;
}

.promo-text-line {
  width: 12px;
  height: 93px;
  background-color: #F16D7F;
  float: left;
  margin-right: 16px;
}

.pt-span-1 {
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  font-style: normal;
  color: #222222;
}

.pt-span-2 {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  color: #222222;
}

.pt-span-3 {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  color: #F16D7F;
}

.catalog-breadcrumb {
  height: 150px;
  background-color: #F8F3F4;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  font-style: normal;
  color: #F16D7F;
}

.catalog-breadcrumb-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.catalog-breadcrumb-list {
  font-weight: 300;
}

.catalog-breadcrumb-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  color: #636363;
  margin: 4px;
}

.catalog-breadcrumb-link-active {
  font-weight: 700;
  color: #F16D7F;
}

.catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-navigation > div {
  width: 360px;
  margin-bottom: 30px;
}

.catalog-filter {
  position: relative;
}

.catalog-filter__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  position: absolute;
}

.catalog-filter__details[open] > summary {
  fill: #EF5B70;
  color: #EF5B70;
}

.catalog-filter__details[open] {
  top: -15px;
  left: -15px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #FFFFFF;
}

.catalog-filter__details[open] .catalog-filter__summary {
  padding: 15px;
}

.catalog-filter__summary {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-style: normal;
  color: #000000;
  outline: none;
}

.catalog-filter__summary svg {
  margin: 0 0 0 11px;
}

.catalog-filter__summary:hover {
  cursor: pointer;
  fill: #EF5B70;
  color: #EF5B70;
}

.catalog-filter-open {
  padding-left: 15px;
}

.catalog-filter-open__details[open] > .catalog-filter-open__summary {
  color: #EF5B70;
}

.catalog-filter-open__summary {
  outline: none;
  width: 327px;
  height: 37px;
  border-left: 5px solid #EF5B70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  border-bottom: 1px solid #EBEBEB;
}

.catalog-filter-open__list {
  padding-left: 15px;
}

.catalog-filter-open__list-element {
  list-style-type: none;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  margin: 5px;
}

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.catalog-sort-summary {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
  margin: 0 28px 0 0;
  outline: none;
}

.catalog-sort-summary > img {
  margin-left: 10px;
}

.catalog-sort-options-1,
.catalog-sort-options-2,
.catalog-sort-options-3 {
  position: absolute;
  background-color: #FFFFFF;
  top: 22px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog-sort-options-1 div,
.catalog-sort-options-2 div,
.catalog-sort-options-3 div {
  margin: 6px;
}

.catalog-sort-options-1 {
  width: 155px;
}

.catalog-sort-options-2 {
  width: 73px;
}

.catalog-sort-options-3 {
  width: 90px;
}

.product-slider {
  height: 777px;
  background-color: #F7F7F7;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-slider-btn-b {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-slider-btn-b:hover svg {
  fill: #F16D7F;
}

.catalog-slider-btn-m {
  background-color: #2a2a2a15;
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description {
  height: 600px;
  width: 1140px;
  border: 1px solid #EAEAEA;
  margin: 0 auto 115px;
  position: relative;
  top: -65px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description-heading-h3 {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  color: #F16D7F;
  margin-bottom: 0;
}

.product-description-heading-hr {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin: 12px 0;
}

.product-description-heading-h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  color: #4D4D4D;
  margin: 0;
}

.product-description-hr {
  width: 642px;
  color: #EAEAEA;
  margin: 0;
}

.product-description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description-text-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  color: #5E5E5E;
  text-align: center;
  width: 550px;
  margin-top: 0;
}

.product-description-text {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  color: #EF5B70;
}

.product-description-form--add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.product-description-sort-details {
  position: relative;
}

::-webkit-details-marker {
  display: none;
}

.product-description-sort-summary {
  list-style: none;
  margin-right: 23px;
  outline: none;
  cursor: pointer;
}

.product-description-sort-summary img {
  margin-left: 9px;
}

.product-description-sort-options-1,
.product-description-sort-options-2,
.product-description-sort-options-3 {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: 25px;
  z-index: 1;
}

.product-description-sort-options-1 div,
.product-description-sort-options-2 div,
.product-description-sort-options-3 div {
  margin: 15px;
}

.product-description-sort-options-1 div label,
.product-description-sort-options-2 div label,
.product-description-sort-options-3 div label {
  cursor: pointer;
}

.product-description-sort-options-1 div input,
.product-description-sort-options-2 div input,
.product-description-sort-options-3 div input {
  margin-right: 15px;
  cursor: pointer;
}

.product-description-sort-options-1 {
  width: 162px;
}

.product-description-sort-options-2 {
  width: 142px;
}

.product-description-sort-options-3 {
  width: 122px;
}

.product-description-sort-quantity {
  width: 92px;
}

.product-description-btn {
  width: 212px;
  height: 48px;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: transparent;
  outline: none;
}

.product-description-btn:hover {
  cursor: pointer;
  color: #F16D7F;
}

.product-description-btn:active {
  border: 2px solid #FF6A6A;
}

.product-description-btn:active img {
  left: 19px;
}

.product-description-btn img {
  position: absolute;
  left: 20px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.for-women {
  width: 360px;
  height: 260px;
  background-image: url(../img/for-women.jpg);
}

.for-men {
  width: 360px;
  height: 260px;
  background-image: url(../img/for-men.jpg);
}

.for-kids {
  width: 360px;
  height: 260px;
  background-image: url(../img/for-kids.jpg);
}

.accesorise {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background-image: url(../img/ACCESORIES.jpg);
}

.categories-p1 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  margin: 3px;
}

.categories-p2 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  text-align: center;
  color: #F16D7F;
  margin: 3px;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-title-h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  font-style: normal;
  color: #222222;
  margin: 96px 0 6px 0;
}

.featured-title-p {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  font-style: normal;
  color: #9F9F9F;
  margin-top: 6px;
}

.featured-all-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
}

.featured-items {
  width: 360px;
  height: 582px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

.featured-item-img {
  width: 360px;
  height: 420px;
}

.item-description-h3 {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  font-style: normal;
  color: #000000;
  margin: 25px 0 12px 18px;
}

.item-description-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 25px 12px 18px;
}

.item-description-price {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  font-style: normal;
  color: #F16D7F;
  margin-left: 18px;
}

.featured-button-BrowseAll {
  width: 214px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 18px;
  border: 1px solid #F26376;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  font-style: normal;
  color: #F26376;
}

.catalog-pagination-tr {
  border: 1px solid #C4C4C4;
  width: 284px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-pagination-td {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  color: #C4C4C4;
  margin: 9px;
}

.catalog-pagination-td:hover {
  color: #EF5B70;
  cursor: pointer;
}

.catalog-pagination-ellipsis {
  margin: -11px;
  pointer-events: none;
}

.pagination-td-active {
  color: #EF5B70;
  pointer-events: none;
}

.information-stand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  background-color: #222224;
  margin-top: 95px;
}

.inform-box {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inform-box-h3 {
  font-size: 19.96px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  color: #FBFBFB;
  margin: 28px 0 16px;
}

.inform-box-text {
  font-size: 13.972px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
  margin: 0;
}

.feedback {
  height: 448px;
  width: 100%;
  background-image: url(../img/Feedback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E1E1E1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-info-p {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  font-style: italic;
  text-align: center;
  color: #222224;
  width: 360px;
  margin: 30px;
}

.subscribe-p {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  text-align: center;
  color: #222224;
  margin: 32px;
}

.subscribe-p span {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

.subscribe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-email {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 23px 0 0 23px;
  padding-left: 20px;
  outline: none;
}

.subscribe-email:focus {
  -webkit-box-shadow: 0 0 0 1px #bebebe;
          box-shadow: 0 0 0 1px #bebebe;
}

.subscribe-button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 23px 23px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  outline: none;
}

.footer {
  height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  font-style: normal;
  color: #FBFBFB;
}

.social {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.social-icon:hover {
  color: #FFF;
  background-color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */