.catalog-breadcrumb {
    height: 150px;
    background-color: #F8F3F4;
    margin-bottom: 50px;
    @include flex;
}

.catalog-h1 {
    @include font(24px, normal, 29px);
    color: $pink;
}

.catalog-breadcrumb-ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.catalog-breadcrumb-list {
    font-weight: 300;
}

.catalog-breadcrumb-link {
    text-decoration: none;
    @include font(14px, 300, 17px, );
    color: #636363;
    margin: 4px;
}

.catalog-breadcrumb-link-active {
    font-weight: 700;
    color: $pink;
}

@media screen and (max-width: 1180px) {
    .catalog-breadcrumb{
        height: 148px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .catalog-breadcrumb {
        flex-direction: column;
        justify-content: flex-start;
    }

    .catalog-h1 {
        margin-top: 24px;
    }
}