.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-title-h2 {
    @include font(30px, normal, 36px, );
    color: $black;
    margin: 96px 0 6px 0;
}

.featured-title-p {
    @include font(14px, normal, 17px, ); 
    color: #9F9F9F;
    margin-top: 6px;
}

.featured-all-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
}

.featured-items {
    width: $card-widht;
    height: 582px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    &:hover .featured-items-overlay {
        opacity: 0.86;
        transform: translateX(0) scaleX(1);
    }
}

.featured-item-img {
    width: $card-widht;
    height: 420px;
    position: relative;
}

.featured-items-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3838;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) scaleX(0);
}

.featured-item-link {
    text-decoration: none;
}

.featured-items-btn {
    width: 139px;
    height: 44px;
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
    background-color: #3A3838;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.featured-items-btn-img {
    fill: #FFFFFF;
    width: 26px;
    height: 24px;
}

.item-description-h3 {
    @include font(13px, normal, 16px, );
    color: #000000;
    margin: 25px 18px 12px 18px;
}

.item-description-text {
    @include font(14px, 300, 17px, );
    color: #5D5D5D;
    margin: 0 25px 12px 18px;
}

.item-description-price {
    @include font(16px, normal, 19px, );
    color:$pink;
    margin-left: 18px;
}

.featured-button-BrowseAll {
    width: 214px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 18px;
    border: 1px solid #F26376;
    @include font(16px, normal, 19px, );
    color: #F26376;
    transition: 0.4s;
    &:hover {
        background-color: #F16D7F;
        color: #FFFFFF;
    }
    &:active {
        transform: scale(0.97);
    }
}

@media screen and (max-width: 1180px) {
    .featured-title-h2 {
        margin-top:  155px;
    }
    
    .featured-title-p { 
        margin-bottom: 39px;
    }

    .featured-items {
        margin-bottom: 18px;
    }

    .catalog-products .featured-items:last-child {
        display: none;
    }

    .product-main .featured-items:last-child {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .featured-title-h2 {
        margin-top:  64px;
    }

    .featured-title-p { 
        margin-bottom: 30px;
    }

    .featured-items {
        margin-bottom: 16px;
    }

    .featured-button-BrowseAll {
        margin-top: 24px;
    }

    .product-main .featured-all-items {
        justify-content: center;
    }
}