.footer {
    height: 79px;
    background-color: #222224;
    @include flex;
}

.copyright {
    @include font(16px, normal, 19px, );
    color: #FBFBFB;
}

.social {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.social-icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        color: #FFF;
        background-color:$pink;
    }
}