.footer {
    height: 79px;
    background-color: #222224;
    @include flex;
}

.copyright {
    @include font(16px, normal, 19px, );
    color: #FBFBFB;
}

.social {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.social-icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: #FFF;
        background-color:$pink;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        height: 143px;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .social {
        margin-bottom: 21px;
    }
}