.header {
    height: 75px;
    background-color: $black;
    @include flex();
}

.case1 img {
    margin-right: 41px;
    cursor: pointer;
}

.case2 img {
    margin-left: 33px;
    cursor: pointer;
}