.header {
    height: 75px;
    background-color: $black;
    @include flex();
}

.case1 img {
    margin-right: 41px;
    cursor: pointer;
}

.header-search {
    background-color: $black;
    outline: none;
    border: none;
}

.case2 img {
    margin-left: 33px;
    cursor: pointer;
}

.header-burger {
    background-color: $black;
    outline: none;
    border: none;
}

@media screen and (max-width: 767px) {
    .header-account,
    .header-cart {
        display: none;
    }
}