.information-stand {
    display: flex;
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
}

.inform-box {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &:hover {
        transform: scale(1.1)
    }
}

.inform-box-img-size {
    width: 48px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inform-box-h3 {
    @include font(20px, normal, 24px, );
    color: #FBFBFB;
    margin: 28px 0 16px;
}

.inform-box-text {
    @include font(14px, 300, 17px, );
    text-align: center;
    color: #FBFBFB;
    margin: 0;
}

@media screen and (max-width: 1180px) {
    .information-stand {
        flex-direction: column;
        height: 610px;
        justify-content: space-evenly;
        align-items: center;
    }
}