
.product-description {
    height: 600px;
    width: $widht-desktop;
    border: 1px solid #EAEAEA;
    margin: 0 auto 115px;
    position: relative;
    top: -65px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product-description-heading {
    display: flex;
    flex-direction: column;
    align-items: center
}

.product-description-heading-h3 {
    @include font(14px, 300);
    color: $pink;
    margin-bottom: 0;
}

.product-description-heading-hr {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    margin: 12px 0;
}

.product-description-heading-h4 {
    @include font(18px, 300);
    color: #4D4D4D;
    margin: 0;
}

.product-description-hr {
    width: 642px;
    color: #EAEAEA;
    margin: 0;
}

.product-description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-description-text-desc {
    @include font(14px, 300, 17px);
    color: #5E5E5E;
    text-align: center;
    width: 550px;  
    margin-top: 0;
}

.product-description-text {
    @include font (24px, 300);
    color: #EF5B70;
}

.product-description-form--add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-description-sort {
    @include flex;
    margin-bottom: 75px;
}

.product-description-sort-details {
    position: relative;
}

::-webkit-details-marker {
    display: none;
}

.product-description-sort-summary {
    list-style: none;
    margin-right: 23px;
    outline: none;
    cursor: pointer;
    & img {
        margin-left: 9px;
    }
}

.product-description-sort-options-1,
.product-description-sort-options-2,
.product-description-sort-options-3 {
    position: absolute;
    background-color: white;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    top: 25px;
    z-index: 1;
    & div {
        margin: 15px;
        & label {
            cursor: pointer;
        }
        & input {
            margin-right: 15px;
            cursor: pointer;
        }
    }

}

.product-description-sort-options-1 {
    width: 162px;
}

.product-description-sort-options-2 {
    width: 142px;
}

.product-description-sort-options-3 {
    width: 122px;
}

.product-description-sort-quantity {
    width: 92px;
}

.product-description-btn {
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    color: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    outline: none;
    fill: #EF5B70;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        background-color: $pink;
        color: #FFFFFF;
        fill: #FFFFFF;
    }
    &:active {
        transform: scale(0.97);
    }
    & svg {
        position: absolute;
        left: 20px;
    }
}