.registration-main {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 113px;
}

.registration-form {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.registration-form-h3 {
    color: #222222;
    @include font(16px, 300);
    margin: 0;
}

.registration-form-input {
    border: 1px solid #A4A4A4;
    padding-left: 17px;
    padding-right: 17px;
    height: 45px;
    margin-top: 20px;
    outline: none;
    transition: 0.3s;
    &::placeholder {
        font-size: 13px;
        font-weight: 300;
        color: #B1B1B1;
    }
    &:focus {
        background-color: #f9f9f9;
        &::placeholder {
            color: #858181;
        }
    }
    &:hover {
        &::placeholder {
            color: #908c8c;
        }
    }
}

.registration-form-gender {
    margin: 32px 0;
    & input {
        margin-right: 10px;
        cursor: pointer;
    }
    & label {
        color: #000;
        margin-right: 20px;
        @include font(11px, 300);
        cursor: pointer;
    }
}

.registration-form-text {
    @include font(13px, 300, 16px);
    color: #B1B1B1;
    margin: 15px 0 39px 0;
}

.registration-form-btn {
    background-color: #F16D7F;
    color: #FFFFFF;
    width: 167px;
    height: 50px;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    &:hover {
        background-color: #e65c6f;
    }
}

.registration-text {
    width: 650px;
}

.registration-text-h3 {
    @include font(24px, 300);
    margin-top: 0;
    margin-bottom: 22px
}

.registration-text-p {
    @include font(24px, 300, 29px);
    margin-bottom: 21px;
}

.registration-text-ul {
    list-style-image: url(../../img/tick.svg);
}

.registration-text-list {
    @include font(24px, 300, 29px);
    margin-bottom: 16px;
}

@media screen and (max-width: 1180px) {
    .registration-main {
        margin-bottom: 96px;
    }

    .registration-text {
        width: 354px;
    }
    
    .registration-text-h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 32px;
    }
    
    .registration-text-p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 22px;
    }

    .registration-text-list {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 23px;
    }
}

@media screen and (max-width: 767px) {
    .registration-main {
        flex-wrap: wrap;
    }

    .registration-form {
        margin-bottom: 40px;
    }
}